body {
    margin: 0;
}

nav {
    padding: 1em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    margin-right: 2em;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

.logo {
    width: 30px;
}

a:hover {
    background-color: #24f387;
}

header {
    min-height:75vh;
    padding: 1em 5em;
    text-align: center;
}

header p,
header h2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header p:nth-of-type(2n) {
    color: blue;
}

header p:nth-of-type(2n+1) {
    color: red;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10em;
    text-transform: lowercase;
    margin: 0.1em 0;
    background-image: url(bg.jpeg);
    background-size: cover;
    background-clip: text;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.img-container {
    min-height: 100vh;
    display: flex;
    padding: 1em 5em;
    justify-content: space-evenly; 
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.img-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
