body {
    margin: 0;
}

* {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

nav {
    padding: 1em 11em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-logo,
.nav-links {
    width: 50%
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    background-color: #24f387;
}

.logo {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

header {
    min-height:75vh;
    padding: 4em 5em 2em;
    text-align: center;
    background-image: url(bg.jpeg);
    background-size: cover;
    color: white;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17.5vw;
    text-transform: lowercase;
    margin: 16px 0;
    color: white;
    line-height: 1;
}

header h2 {
    font-size: 3em;
}

header p {
    color: rgba(256, 256, 256, 0.8);
}

header p,
header h2 {
    width: 50%;
    margin: 16px auto;
}

.header-btn {
    color: white;
    padding: 1em 2em;
    background-color: #03a6d3;
    border-style: solid;
    border-color: #03a6d3;
    border-radius: 5px;
}

.img-container {
    min-height: 100vh;
    display: flex;
    padding: 1em 5em;
    justify-content: space-evenly; 
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.img-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 800px) {
    nav {
        padding: 1em;
    }

    header {
        padding: 3em 1em 2em;
    }

    header p, header h2 {
        width: 100%;
    }
}